@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  overflow: overlay;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: none !important;
  background-color: transparent;
}
::-webkit-scrollbar {
  width: 5px !important;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #aaaaaa;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #717171;
}

.input {
  background-color: #00000000;
  box-shadow: inset -5px -5px 9px #ffffff,
    inset 5px 5px 9px rgba(94, 104, 121, 0.3);
}
